<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff"/>
    <title>Laperin</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>
<body>
    <a href="#main" class="skip-link" tabindex="1">Skip to content</a>
    <header>
        <button id="hamburger" class="header__menu">☰</button>
        <a href="#" class="brand__logo">LaperIn</a>
        <nav id="drawer">
            <div class="nav__list">
                <a class="nav__item" href="#/home">Home</a>
                <a class="nav__item" href="#/favorites">Favorites</a>
                <a class="nav__item" href="https://www.instagram.com/ridho_pardede27/" target="_blank" rel="noopener">About</a>
            </div>
            
        </nav>
    </header>
    <div class="hero-container" id="heroContainer"></div>
    <div class="info-container" id="infoContainer"></div>
    <main id="main">
        
    </main>
    <footer>
        <p>Copyright © 2021 - LaperIn</p>
    </footer>
</body>
</html>
